/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import './ApartmentIndex.css';
 @import './home.scss';
 @import './ProtectedShow.css';
 @import './ApartmentShow.css';
 @import './Devise.css';
 @import './Header.css';


 
.edit-button {
  width: 1em;
  margin-left: 10px;
  margin-bottom: -2px;
}

.delete-button {
  margin-left: 0.5rem;
}

h2 {
  margin-left: auto;
}

main {
     margin-top: 5vh;
 }

 
//  header

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}
.nav-bar {
    width: 25%;
  }
  .nav-link {
    color: #4E2780;
    font-size: 12px;
  }
  .nav-link:hover {
    color: #4E2780;
    text-decoration: underline;
  }

// HOME

.home-top {
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 100px;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: 120%;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
}



.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.8) 0px 0px 16px;
  background-color: white;
  transition: transform 0.7s ease;
}

.cardList p {
  margin: 1rem;
  text-align: right;
  padding: 0;
}

.cardList a {
  text-decoration: none;
}

.cardImage {
  width: 500px;
  height: 250px;
  object-fit: cover;
  box-shadow: 16px 16px 8px -10px var(--accent);
}

.cardList:hover {
  transform: scale(1.1);
}

.site-body {
  min-height: calc(100vh - 90px);
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

// apt new

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  align-content: left;
  justify-content: flex-start;
  text-align: left;
}

.input {
  width: 500px;
}

.form {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: left;
}
.form-label {
  text-align: left;
}